/*Background*/
.bg{
    background-image: url('neon.png');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 50% 50%;}

/*Text-Style*/
.text-style{
font-family: cursive;
font-style: italic;
font-weight: 100;
font-stretch: expanded;
font-size: 35px;
float: ;
color: #ffd9f5;
}

/*Paddings*/
.pddng{
	padding-left: 5%;
}
.pddng1{
	padding-left: 2%;
}


.container-fluid2{
	color: #ffd9f5;
	border-block: 50%;
}