/* Background */
.bg{
    background-image: url('neon.png');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 50% 50%;}

.bg1{
    background-image: url('g1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 50% 50%;}

.header{
	padding-top: 30px;
	text-shadow: 1px 1px 1px #000;

}
/* Intro */
.meme_style{
	font-size: 100px;
	font-family: fantasy;
	color:#ffd9f5;
	text-shadow: 1px 1px 1px #000,0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}
.intro_title{
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
}

/* Main part */
.main_txt{
	font-size: 20px;
	font-weight: 700;
	color: #ffd9f5;
	margin: 0 auto;
	text-align: justify;
	max-height: 1500px;
	max-width: auto;
}
.main_inner{
	width: 100%;
	max-width: 1500px;
	max-height: all;
	margin: 0 auto;
}
.container-fluid2{
	color: #ffd9f5;
	padding-top: 50px;
}


/* Text-Style */
.text-style{
text-align: justify; 
font-family: sans-serif;
font-weight: 700;
font-size: 25px;
color: #ffd9f5;
text-shadow: 1px 1px 1px #000,0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}

/* Paddings */
.pddng1{
	padding-left: 1%;
}
.img_inner{
	width: 100%;
	max-width: 300px;
	max-height: 400px;
	margin: 0 auto;
	position: ;
}
      
      /* */



/* nav */
.nav{
	padding-top: 30px;
	font-size: 20px;
	text-transform: uppercase;
}

.nav_link{
	font-weight: 700;
	font-family: sans-serif;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: #ffd9f5
}

.nav_link:hover{
color: #fff;
}
h1,h2,h3,h4{
	text-align: center;
}
/* Footer */
.footer{
	background-size: cover;  
    background: rgba(173, 101, 143, 0.219); 
	color: #ffd9f5;	 
	text-align: center;
	margin: 0;

	
}
.footer_text{
	font-family: cursive ;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;

}
.a1{
	color: #ffd9f5;
	text-transform: uppercase;
}
.a1:hover{
	color:#fff ;
}